/****** PLACE YOUR CUSTOM STYLES HERE ******/
.feature-3.narrow {
	min-height: 0;
}

@media all and (max-width: 767px) {
  .reduce-top-small {
    padding-top: 40px;
  }
}

.separate {
	margin-top: 30px;
}

.pricecop {
	font-size: 40px !important;
}

.pricing-table {
	margin-bottom: 10px;
}

.shortpad {
	padding-bottom: 0;
}

.reduce-top {
    margin-top: -100px;
}
