/****** PLACE YOUR CUSTOM STYLES HERE ******/
.feature-3.narrow {
	min-height: 0;
}

@media all and (max-width: 767px) {
  .reduce-top-small {
    padding-top: 40px;
  }
}

.separate {
	margin-top: 30px;
}

.pricecop {
	font-size: 40px !important;
}

.pricing-table {
	margin-bottom: 10px;
}

.shortpad {
	padding-bottom: 0;
}

.reduce-top {
    padding-top: 0;
}

/*
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}
*/

.navtitle {
    padding-top: 10px;
    font-family: "Roboto";
    font-weight: bold;
}

.menu li a {
    color: black;
}

#gobutton {
    box-shadow: 0 5px 7px #222;
}

.testimonial {
    min-height: 391px;
}

.white {
    color: #fff;
}

#symbol {
    padding-right: 10px;
}
